PORT=3333
DATABASE_URL=file:./data/app.sqlite
OLLAMA_BASE_URL=http://192.168.0.103:11434
OLLAMA_MODEL=llama3.1:8b
OUTPUT_BASE_DIR=./generated
PROMPTS_BASE_DIR=C:\Users\Fabricio.Cunha\Downloads\prompts\novos
OLLAMA_TIMEOUT_MS=600000
NODE_ENV=development
LOG_LEVEL=trace
LOG_PRETTY=true
LOG_TO_FILE=true
LOG_DIR=./logs
LOG_INCLUDE_CONTENT=false
